<h1 class="text-center" >About Us</h1>
<div class="card">
  <div class="card-header">
    <%= image_tag "photo-1529156069898-49953e39b3ac.jpeg", width: 1100 , height: 500 %>
  </div>
   
  <div class="card-body">
    <h5 class="card-title">Information</h5>
    <p class="card-text">  We know that friendships can enrich your life in many ways. Good friends teach you about yourself and challenge you to be better. They encourage you to keep going when times get tough and celebrate your successes with you.

But friends do a lot more than give you a shoulder to cry on; they also have a positive impact on your health. Some research even says friendships are just as important to your well-being as eating right and exercising.
</p>
    <a href="#" class="btn btn-primary">Want to know more about us?</a>
  </div>
</div>

